.game-of-life {
  text-align: center;
}

.game-of-life-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .game-of-life-logo {
    animation: game-of-life-logo-spin infinite 20s linear;
  }
}

.game-of-life-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-of-life-link {
  color: #61dafb;
}

@keyframes game-of-life-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gol-button-group {
  display: flex;
  width: 100vh;
  margin: 0 auto;
}

button {
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
}